<a href="https://colab.research.google.com/github/Sudhaganisrinidhi/B_20_1342/blob/main/Lab6_Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
df = pd.read_csv('hospital data analysis.csv')
print("First few rows:")
print(df.head())

First few rows:
   Patient_ID  Age  Gender      Condition                 Procedure   Cost  \
0           1   45  Female  Heart Disease               Angioplasty  15000
1           2   60    Male       Diabetes           Insulin Therapy   2000
2           3   32  Female  Fractured Arm          X-Ray and Splint    500
3           4   75    Male         Stroke    CT Scan and Medication  10000
4           5   50  Female         Cancer  Surgery and Chemotherapy  25000

   Length_of_Stay Readmission    Outcome  Satisfaction
0               5          No  Recovered             4
1               3         Yes     Stable             3
2               1          No  Recovered             5
3               7         Yes     Stable             2
4              10          No  Recovered             4

In [34]:
print("\nAge column statistics BEFORE cleaning:")
print(df['Age'].describe())
print("Any ages < 0? ", (df['Age'] < 0).sum())
print("Any ages > 120? ", (df['Age'] > 120).sum())

Age column statistics BEFORE cleaning:
count    984.000000
mean      53.754065
std       14.941135
min       25.000000
25%       45.000000
50%       55.000000
75%       65.000000
max       78.000000
Name: Age, dtype: float64
Any ages < 0?  0
Any ages > 120?  0

In [26]:
print("\nRows with invalid ages (<0 or >120):")
print(df[df['Age'] < 0])
print(df[df['Age'] > 120])

Rows with invalid ages (<0 or >120):
Empty DataFrame
Columns: [Patient_ID, Age, Gender, Condition, Procedure, Cost, Length_of_Stay, Readmission, Outcome, Satisfaction]
Index: []
Empty DataFrame
Columns: [Patient_ID, Age, Gender, Condition, Procedure, Cost, Length_of_Stay, Readmission, Outcome, Satisfaction]
Index: []

In [27]:
df_clean = df[(df['Age'] >= 0) & (df['Age'] <= 120)].copy()

In [29]:
print("\nAge column statistics AFTER cleaning:")
print(df_clean['Age'].describe())
print("Any Ages < 0? ", (df_clean['Age'] < 0).sum())
print("Any Ages > 120? ", (df_clean['Age'] > 120).sum())

Age column statistics AFTER cleaning:
count    984.000000
mean      53.754065
std       14.941135
min       25.000000
25%       45.000000
50%       55.000000
75%       65.000000
max       78.000000
Name: Age, dtype: float64
Any Ages < 0?  0
Any Ages > 120?  0

In [30]:
print("\nRows before cleaning: ", df.shape[0])
print("Rows after cleaning: ", df_clean.shape[0])
# Save cleaned data if needed
df_clean.to_csv('hospital_admissions_data_cleaned.csv', index=False)

Rows before cleaning:  984
Rows after cleaning:  984

In [35]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
df = pd.read_csv("bank-additional-full.csv", sep=";")
print("Dataset Shape:", df.shape)
print("\nNumeric columns available:\n", df.select_dtypes(include=['int64','float64']).columns.tolist())

Dataset Shape: (41188, 21)

Numeric columns available:
 ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']

In [39]:
df_selected = df[["age"]].copy()
print("\nFirst 10 original values (age ~ proxy for income):")
print(df_selected.head(10))

First 10 original values (age ~ proxy for income):
   age
0   56
1   57
2   37
3   40
4   56
5   45
6   59
7   41
8   24
9   25

In [40]:
min_max_scaler = MinMaxScaler()
df_selected["age_MinMax"] = min_max_scaler.fit_transform(df_selected[["age"]])

In [42]:
standard_scaler = StandardScaler()
df_selected["age_Zscore"] = standard_scaler.fit_transform(df_selected[["age"]])

In [43]:
print("\nFirst 10 values after scaling:")
print(df_selected.head(10))

First 10 values after scaling:
   age  age_MinMax  age_Zscore
0   56    0.481481    1.533034
1   57    0.493827    1.628993
2   37    0.246914   -0.290186
3   40    0.283951   -0.002309
4   56    0.481481    1.533034
5   45    0.345679    0.477486
6   59    0.518519    1.820911
7   41    0.296296    0.093650
8   24    0.086420   -1.537652
9   25    0.098765   -1.441693

In [44]:
df_selected.to_csv("bank_age_scaled.csv", index=False)
print("\nScaled dataset saved as 'bank_age_scaled.csv'")

Scaled dataset saved as 'bank_age_scaled.csv'