<a href="https://colab.research.google.com/github/Sudhaganisrinidhi/B_20_1342/blob/main/Lab6_datacleaning_merging_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#data cleaning
import pandas as pd
import numpy as np
dat={
    'Name':['Ravi','Neha','Kiran','Sita'],
    'Age':[25,np.nan,30,28],
    'Marks':[85,90,np.nan,92]
}
df=pd.DataFrame(dat)
print(df)
print(df.isnull())

    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   Sita  28.0   92.0
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [5]:
df_dropped=df.dropna()
print(df_dropped)

   Name   Age  Marks
0  Ravi  25.0   85.0
3  Sita  28.0   92.0

In [6]:
df_filled=df.fillna(0)
print("filled with:")
print(df_filled)

filled with:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   Sita  28.0   92.0

In [10]:
df['Age']=
df['Age'].fillna(df['Age'].mean())
df['Marks']=df['Marks'].fillna(df['Marks'].mean())
print("filled with mean:")
print(df)

filled with mean:
    Name        Age  Marks
0   Ravi  25.000000   85.0
1   Neha  27.666667   90.0
2  Kiran  30.000000   89.0
3   Sita  28.000000   92.0

In [14]:
data={
    'ID':[1,2,2,3,4,4],
    'Name':['Ravi','Neha','Neha','Kiran','Sita','Sita'],
    'Marks':[85,90,90,78,92,92]
}
df=pd.DataFrame(data)
print("Original Data Frame with Duplicates")
print(df)
df_no_duplicates=df.drop_duplicates()
print("Data Frame without Duplicates")
print(df_no_duplicates)

Original Data Frame with Duplicates
   ID   Name  Marks
0   1   Ravi     85
1   2   Neha     90
2   2   Neha     90
3   3  Kiran     78
4   4   Sita     92
5   4   Sita     92
Data Frame without Duplicates
   ID   Name  Marks
0   1   Ravi     85
1   2   Neha     90
3   3  Kiran     78
4   4   Sita     92

In [18]:
data={
    'ID':[1,2,3,4,5],
    'Marks':['85','90','78','92','95'],
}
df=pd.DataFrame(data)
print("Original Dta Types:")
print(df.dtypes)
df['ID']=pd.to_numeric(df['ID'])
df['Marks']=pd.to_numeric(df['Marks'])
print("Data Types After Conversion:")
print(df.dtypes)

Original Dta Types:
ID        int64
Marks    object
dtype: object
Data Types After Conversion:
ID       int64
Marks    int64
dtype: object

In [19]:
df['Marks'] = df['Marks'].apply(lambda x: x + 5)
print("After Adding Bonus Marks:")
print(df)

After Adding Bonus Marks:
   ID  Marks
0   1     90
1   2     95
2   3     83
3   4     97
4   5    100

In [20]:
df['Marks_Normalized'] = (df['Marks'] - df['Marks'].min()) / (df['Marks'].max() - df['Marks'].min())
print("Normalized Marks:")
print(df)

Normalized Marks:
   ID  Marks  Marks_Normalized
0   1     90          0.411765
1   2     95          0.705882
2   3     83          0.000000
3   4     97          0.823529
4   5    100          1.000000

In [21]:
student_data = {
'Student_ID': [101, 102, 102, 103, 104, 105],
'Name': ['Ravi', 'Neha', 'Neha', 'Kiran', 'Sita', None],
'Marks': [85, 90, 90, np.nan, 92, 88],
'Department': ['CSE', 'ECE', 'ECE', 'MECH', 'CSE', 'CSE']
}
df = pd.DataFrame(student_data)
print("Original Data:")
print(df)
# 1. Handle Missing Values
df['Marks'] = df['Marks'].fillna(df['Marks'].mean())
df['Name'] = df['Name'].fillna("Unknown")
# 2. Remove Duplicates
df = df.drop_duplicates()
# 3. Transformation - Add Result Column
df['Result'] = ['Pass' if x >= 40 else 'Fail' for x in df['Marks']]
print("\nCleaned Student Data:")
print(df)

Original Data:
   Student_ID   Name  Marks Department
0         101   Ravi   85.0        CSE
1         102   Neha   90.0        ECE
2         102   Neha   90.0        ECE
3         103  Kiran    NaN       MECH
4         104   Sita   92.0        CSE
5         105   None   88.0        CSE

Cleaned Student Data:
   Student_ID     Name  Marks Department Result
0         101     Ravi   85.0        CSE   Pass
1         102     Neha   90.0        ECE   Pass
3         103    Kiran   89.0       MECH   Pass
4         104     Sita   92.0        CSE   Pass
5         105  Unknown   88.0        CSE   Pass

**Merging and joining** **datasets**

In [22]:
students = pd.DataFrame({
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']
})
marks = pd.DataFrame({
'Student_ID': [101, 102, 103, 105],
'Marks': [85, 90, 78, 88]
})
merged_df = pd.merge(students, marks, on='Student_ID')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [23]:
inner = pd.merge(students, marks, on='Student_ID', how='inner')
print("Inner Join:\n", inner)

Inner Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [24]:
left = pd.merge(students, marks, on='Student_ID', how='left')
print("\nLeft Join:\n", left)

Left Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN

In [25]:
right = pd.merge(students, marks, on='Student_ID', how='right')
print("\nRight Join:\n", right)

Right Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
3         105    NaN     88

In [26]:
outer = pd.merge(students, marks, on='Student_ID', how='outer')
print("\nOuter Join:\n", outer)

Outer Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN
4         105    NaN   88.0

In [29]:
students = pd.DataFrame({
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']
}, index=[101, 102, 103, 104])
marks = pd.DataFrame({
'Marks': [85, 90, 78, 88]
}, index=[101, 102, 103, 105])
joined_df = students.join(marks, how='outer')
print("Joined DataFrame:")
print(joined_df)

Joined DataFrame:
      Name  Marks
101   Ravi   85.0
102   Neha   90.0
103  Kiran   78.0
104   Sita    NaN
105    NaN   88.0

In [30]:
students = pd.DataFrame({
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita'],
'Department': ['CSE', 'ECE', 'MECH', 'CSE']
})
marks = pd.DataFrame({
'Student_ID': [101, 102, 104, 105],
'Marks': [85, 90, 92, 88]
})
final_df = pd.merge(students, marks, on='Student_ID',
how='outer')
print("Final Student Records:")
print(final_df)

Final Student Records:
   Student_ID   Name Department  Marks
0         101   Ravi        CSE   85.0
1         102   Neha        ECE   90.0
2         103  Kiran       MECH    NaN
3         104   Sita        CSE   92.0
4         105    NaN        NaN   88.0