<a href="https://colab.research.google.com/github/Sudhaganisrinidhi/B_20_1342/blob/main/list_tuple_set(l2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
l=[10,20,30,40,50]
print(l)
if 20 in l:
    print('found')
else:
    print('not found')
l=[10,99.9,'CSE']
for i in l:
    print(type(i),i)
l=[10,20,10,20,10,20]
print(l)
l=[10,20,30,40]
l.append(50)
print(l)
l.remove(30)
print(l)
l.insert(2,25)
print(l)
l.pop()
l=[9,26,92,56,45,16]
l.sort()
print(l)
l.reverse()
print(l)
print(sum(l))
print(min(l))
print(max(l))

[10, 20, 30, 40, 50]
found
<class 'int'> 10
<class 'float'> 99.9
<class 'str'> CSE
[10, 20, 10, 20, 10, 20]
[10, 20, 30, 40, 50]
[10, 20, 40, 50]
[10, 20, 25, 40, 50]
[9, 16, 26, 45, 56, 92]
[92, 56, 45, 26, 16, 9]
244
9
92

In [2]:
student=[[10,20],[30,40],[50,60],[70,80],[90,100]]
print(student)

[[10, 20], [30, 40], [50, 60], [70, 80], [90, 100]]

In [4]:
t=('cherry','banana','apple')
print(t)
len(t)

('cherry', 'banana', 'apple')

3

In [6]:
if "apple" in t:
  print("yes")
else:
  print("No")

yes

In [8]:
t=(10,20,30,40)
print(t)
t=(10,20,30,10,20)
print(t)
t=(10,99.9,'CSE')
for i in t:
  print(type(i),i)
  if 20 in t:
    print("found")
  else:
    print("not found")

(10, 20, 30, 40)
(10, 20, 30, 10, 20)
<class 'int'> 10
not found
<class 'float'> 99.9
not found
<class 'str'> CSE
not found

In [9]:
t=(1,2,3,2,3,2,4)
print(t.count(2))
print(t.index(4))

3
6

In [12]:
l=[10,20,30,40]
mytuple=tuple(l)
print(mytuple)
student=((10,20),(30,40),(50,60))
print(student)

(10, 20, 30, 40)
((10, 20), (30, 40), (50, 60))

In [13]:
student={"name":"python","id":101,"branch":"CSE"}
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'id', 'branch'])
dict_values(['python', 101, 'CSE'])
dict_items([('name', 'python'), ('id', 101), ('branch', 'CSE')])

In [15]:
for key,value in student.items():
  print(key,value)

name python
id 101
branch CSE

In [16]:
student["college"]="SRU"
print(student)

{'name': 'python', 'id': 101, 'branch': 'CSE', 'college': 'SRU'}

In [17]:
student["branch"]="AIML"
print(student)

{'name': 'python', 'id': 101, 'branch': 'AIML', 'college': 'SRU'}

In [18]:
if "name" in student:
  print("yes")
else:
  print("no")

yes

In [19]:
Student={101:{"name":"C","id":101,"branch":"CSE"},102:{"name":"C++","id":102,"branch":"CSE"},103:{"name":"Java","id":103,"branch":"CSE"}}
print(Student)

{101: {'name': 'C', 'id': 101, 'branch': 'CSE'}, 102: {'name': 'C++', 'id': 102, 'branch': 'CSE'}, 103: {'name': 'Java', 'id': 103, 'branch': 'CSE'}}

In [20]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [21]:
s={1,2,3,2,3,2}
print(s)

{1, 2, 3}

In [22]:
for i in s:
  print(i)

1
2
3

In [23]:
if 2 in s:
  print("yes")
else:
  print("no")

yes

In [26]:
a={1,2,3}
b={3,4,5}
print("union",a|b)
print("intersection",a&b)
print("difference",a-b)

union {1, 2, 3, 4, 5}
intersection {3}
difference {1, 2}

In [28]:
s={1,2,3}
s.add(4)
print(s)
s.remove(2)
print(s)
s.clear()

{1, 2, 3, 4}
{1, 3, 4}